@model entity.Rental

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rental</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckInDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckInDay)
            @Html.ValidationMessageFor(model => model.CheckInDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckOutDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckOutDay)
            @Html.ValidationMessageFor(model => model.CheckOutDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "CustomerInfo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarId, "CarInfo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CarId", String.Empty)
            @Html.ValidationMessageFor(model => model.CarId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DriverId, "DriverInfo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DriverId", String.Empty)
            @Html.ValidationMessageFor(model => model.DriverId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationId, "PickLocation")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LocationId", String.Empty)
            @Html.ValidationMessageFor(model => model.LocationId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
